.pdfviwe{
    margin:0, auto;
    display: block;
    width: 620px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
    , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding-top: 100px; */
    
}
.centro{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}